<ion-view title="Humor nosso de cada dia" id="page10">
  <ion-content padding="true" style="background: url(img/darjshgeSVmLwWbmHwgr_HDA.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="humorNossoDeCadaDia-form18" class="list">
      <ion-item class="item-divider" id="humorNossoDeCadaDia-list-item-divider1"> Olá, como está se sentindo?</ion-item>
      <a ui-sref="page18" id="humorNossoDeCadaDia-button29" style="font-weight:600;" class="button button-positive  button-block icon-right ion-android-happy">Bem</a>
      <div class="spacer" style="width: 300px; height: 117px;"></div>
      <kkkk id="humorNossoDeCadaDia-container1" class="jjjj creator-container"></kkkk>
      <ion-item class="item-divider" id="humorNossoDeCadaDia-list-item-divider2"> Ou mal?</ion-item>
    </form>
    <a ui-sref="page19" id="humorNossoDeCadaDia-button35" class="button button-positive  button-block icon-right ion-android-sad">Mal</a>
    <div id="humorNossoDeCadaDia-button-bar2" class="button-bar"></div>
    <div id="humorNossoDeCadaDia-button-bar3" class="button-bar"></div>
  </ion-content>
</ion-view>