<ion-view title="Humor Cadastrado" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="humorCadastrado-button-bar10" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 132px;"></div>
    <div id="humorCadastrado-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">HUMOR CADASTRADO COM SUCESSO!!!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 105px;"></div>
    <a ui-sref="menu.humorNossoDeCadaDia" id="humorCadastrado-button59" class="button button-positive  button-block icon-right ion-plus-circled">Cadastrar Novo Humor</a>
    <a ui-sref="inicio" id="humorCadastrado-button60" class="button button-positive  button-block icon-right ion-ios-home">Início</a>
    <a ui-sref="menu.notas" id="humorCadastrado-button61" class="button button-positive  button-block icon-right ion-android-create">Escrever Nota</a>
    <div class="spacer" style="width: 300px; height: 209px;"></div>
  </ion-content>
</ion-view>