<ion-view title="Notas" id="page11">
  <ion-content padding="true" style="background: url(img/RwBYaDH2TDmzSm8mSPsI_Balao.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="notas-form22" class="list">
      <a ui-sref="menu.humorNossoDeCadaDia" id="notas-button62" style="font-weight:600;font-style:italic;border-radius:-4px -5px -4px -4px;" class="button button-positive button-small icon ion-ios-arrow-back"> Voltar</a>
      <ion-item class="item-divider" id="notas-list-item-divider5"> Um lugar feito para você viajar. &lt;3</ion-item>
      <div class="spacer" style="height: 100px;"></div>
      <label class="item item-input" id="notas-input15">
        <span class="input-label">Rascunhos</span>
        <input type="text" placeholder="Liberte sua mente">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <a ui-sref="notaCadastrada" id="notas-button45" class="button button-positive  button-block">Enviar </a>
  </ion-content>
</ion-view>