<ion-view title="Page" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 132px;"></div>
    <div id="page-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">NOTA CADASTRADA COM SUCESSO!!!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 105px;"></div>
    <a ui-sref="inicio" id="page-button64" class="button button-positive  button-block icon-right ion-ios-home">Início</a>
    <a ui-sref="menu.humorNossoDeCadaDia" id="page-button63" class="button button-positive  button-block icon-right ion-android-create">Cadastrar Nova Nota</a>
    <a ui-sref="menu.notas" id="page-button65" class="button button-positive  button-block icon-right ion-android-add-circle">Cadastrar Novo Humor</a>
  </ion-content>
</ion-view>