<ion-view title="Inicio" id="page17">
  <ion-content padding="true" style="background: url(img/dYboKCfWS1aGjCg93Ixz_BI20-20Amarelo.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="inicio-list7">
      <ion-item class="item-avatar item-icon-right dark" id="inicio-list-item15" href="mailto:vklopper@gmail.com">
        <img src="img/3mvjGxARRhGBEdtUXH9p_IMG-20161027-WA0042.jpg">
        <h2dark>Victor Klopper
          <i class="icon ion-person"></i>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <a ui-sref="menu.humorNossoDeCadaDia" id="inicio-button21" class="button button-positive  button-block">Adicionar Humor</a>
    <a ui-sref="menu.notas" id="inicio-button22" class="button button-positive  button-block">Adicionar Nota</a>
    <a ui-sref="menu.grafico" id="inicio-button23" class="button button-positive  button-block">Ver Gráficos</a>
    <div class="spacer" style="width: 300px; height: 89px;"></div>
    <button id="inicio-button24" class="button button-positive  button-block">Desconectar</button>
  </ion-content>
</ion-view>