<ion-view title="Login" hide-nav-bar="true" id="page7">
  <ion-content padding="true" style="background: url(img/KsFK1eNwSeC5UXVBXpKb_7c2297c9d2882eb7af90890c07c31969.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/9Jq2RLR3SKOLsELP7w9Q_bipolar1.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form11" class="list center-form">
      <ion-list id="login-list4">
        <label class="item item-input top_input" id="login-input8">
          <span class="input-label">email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input psw_input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <a ui-sref="inicio" id="login-button10" class="button button-positive  button-block">Entrar</a>
      <a ui-sref="signup" id="login-button11" class="button button-light  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>