<ion-view title="(:" id="page18">
  <ion-content padding="true" style="background: url(img/FKCAvGEJQlm6mixL724Y_bp1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="menu.humorNossoDeCadaDia" id="page18-button52" style="font-weight:600;font-style:italic;border-radius:-4px -5px -4px -4px;" class="button button-positive button-small icon ion-ios-arrow-back"> Voltar</a>
    <div id="page18-button-bar9" class="button-bar"></div>
    <form id="page18-form19" class="list">
      <ion-item class="item-divider" id="page18-list-item-divider3"> Defina como está o seu bom humor</ion-item>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <a ui-sref="humorCadastrado" id="page18-button38" style="font-weight:600;" class="button button-positive  button-block icon-right ion-android-happy">Feliz</a>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <a ui-sref="humorCadastrado" id="page18-button44" style="font-weight:600;" class="button button-positive  button-block icon-right ion-happy-outline">Muito Feliz</a>
      <div class="spacer" style="width: 300px; height: 28px;"></div>
    </form>
    <a ui-sref="humorCadastrado" id="page18-button39" class="button button-positive  button-block icon-right ion-happy">Extremamente feliz</a>
    <div id="page18-button-bar4" class="button-bar"></div>
    <div id="page18-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>