<ion-view title="):" id="page19">
  <ion-content padding="true" style="background: url(img/GmdCkBp2QpKu4uqNSUri_three-days-grace-human-race.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="menu.humorNossoDeCadaDia" id="page19-button55" style="font-weight:600;font-style:italic;border-radius:-4px -5px -4px -4px;" class="button button-positive button-small icon ion-ios-arrow-back"> Voltar</a>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="page19-form21" class="list">
      <ion-item class="item-divider" id="page19-list-item-divider4"> Defina como está o seu mau humor</ion-item>
    </form>
    <a ui-sref="humorCadastrado" id="page19-button41" class="button button-positive  button-block icon-right ion-android-sad">Regular</a>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <a ui-sref="humorCadastrado" id="page19-button43" class="button button-positive  button-block icon-right ion-sad-outline">Ruim</a>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <a ui-sref="humorCadastrado" id="page19-button42" class="button button-positive  button-block icon-right ion-sad">Péssimo</a>
    <div id="page19-button-bar6" class="button-bar"></div>
    <div id="page19-button-bar7" class="button-bar"></div>
  </ion-content>
</ion-view>