<ion-view title="Signup" hide-nav-bar="true" nav-transition="none" id="page8">
  <ion-content padding="true" style="background: url(img/VMZVcqtVSRiMoesCTX0H_wg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/VU2Il5eITryy8Q8J6XJk_bipolar.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form12" class="list center-form">
      <div id="signup-markdown2" class="show-list-numbers-and-dots error_box">
        <p style="color:#000000;">{{error}}</p>
      </div>
      <ion-list id="signup-list5">
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input top_input" id="signup-input12">
          <span class="input-label">email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input psw_input" id="signup-input11">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <a ui-sref="inicio" id="signup-button12" class="button button-positive  button-block">Sign Up</a>
      <a ui-sref="login" id="signup-button13" class="button button-light  button-block button-clear">Ainda não possui conta?</a>
    </form>
  </ion-content>
</ion-view>